.image {
  height: 100%;
  width: 533px;
  margin: 0.5rem;
}
.not-flipped {
  background-color: black;
  color: white;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
}
